html {
  height: 100%;
width: 100%;
    min-width: 100%;
    min-height: 100%;
     margin: 0;
   padding: 0;
overflow-x: hidden;
}
body {
min-width: 100%;
min-height: 100%;
margin: 0;
padding: 8px;
overflow-x: hidden;
background: #212121;
    color: antiquewhite
}

#info{
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    color: black;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: "#A7B9C3"
}


li{
   background:linear-gradient(rgba(0,0,0,0.1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1) ,rgba(255,255,255,1),rgba(0,0,0,0.1));
    border: 1px solid black;
    border-radius: 15px;
    
}
li:hover{
    border: 4px solid gray;
}

li h5{

    align-content: center;  
}


#symtomsimg{
    border: 2px solid black;
    border-radius: 20px;
    background-color:white;
   
}
#symtomsimg:hover{
    border: 3px solid orange;
 }
#sympimg{
    border-radius: 20px;
}





#back_to_top{
    position: fixed;
    bottom: 3em;
    right:3em;
    background-color: rgba(25,125,255,0.5);
    color: #ff6e21;
    border: none;
    border-radius:5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0,0,0,.25);
    transition:  all .3s ease-in-out;
    display: inline-block;
    font-size: .75em;
    visibility:hidden;
}
#back_to_top:hover{
    background-color: #fff;
    padding:1em 3em;
    color: firebrick;
}

